{% load staticfiles%}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% block extrahead%}
        <!--Bloque para css. este bloque lo pueden sobreescribir otras plantillas para que no utilicen el css del base-->
        {% endblock%}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
        <title> {% block title %} Documento {% endblock%} </title>
    </head>
    <body>
        <div class="container">
            {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{#}">Registrar</a></li>
                                <li><a href="{#}">Listar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adopciones<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{#}">Solicitar</a></li>
                                <li><a href="{#}">Listar solicitudes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="{#}">Salir</a></li>
                             </ul>
                           </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}
            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}
        </div>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extrajs %}
        {% endblock %}

    </body>
</html>
